:root {
	--font: 'IBM Plex mono', arial, sans-serif;
	--font-color-main: #353430;
	--font-color-title: #ffc2e6;
	--color-main: #fff1f7;
	--color-accent: #ff8dcb;
	--cover-img: url(../imgs/cover-image-light.png);
}

.page.theme_light {
	/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
