:root {
	--font: 'IBM Plex mono', arial, sans-serif;
	--color: #353430;
	--color-h1: #ffc2e6;
	--color-accent: #ff8dcb;
	--color-background: #fff1f7;
	--cover-img: url(../imgs/cover-image-light.png);
	--page-padding: 10px;
}

.page {
	color: var(--color);
	font-family: var(--font);
	background: var(--cover-img) center / cover no-repeat fixed;
}

.title-decor {
	background-color: var(--color-accent);
}

.decorated-zone {
	padding: var(--page-padding);
}

.letter-spaced {
	letter-spacing: 1px;
}

/*Header*/
.header {
	display: grid;
	block-size: 100dvh;
	grid-template:
		[row1-start] 'header__before' 10dvh [row1-end]
		[row2-start] 'navigation' 25dvh [row2-end]
		[row3-start] 'title' 36dvh [row3-end]
		[row4-start] 'description' 17.5dvh [row4-end]
		[row5-start] 'header__after' 8.5dvh [row5-end]
		/ 100%;
}

.header::before {
	content: '';
	display: block;
	justify-self: end;
	align-self: start;
	border-inline-end: 1px solid currentColor;
	border-block-start: 1px solid currentColor;
	inline-size: 25px;
	block-size: 25px;
}

.header::after {
	content: '';
	display: block;
	justify-self: start;
	align-self: end;
	border-inline-start: 1px solid currentColor;
	border-block-end: 1px solid currentColor;
	inline-size: 25px;
	block-size: 25px;
}

.header__theme-menu {
	justify-self: end;
	inline-size: min-content;
	block-size: min-content;
}

.header__theme-menu-list {
	display: flex;
	/*media on desktop*/
	flex-flow: column wrap;
	gap: 15px;
	inline-size: min-content;
}

.header__theme-menu-item {
	inline-size: 70px;
}

.header__theme-menu-button {
	border: none;
	padding-inline: 13px;
	color: var(--color);
	font-family: var(--font);
	font-size: 18px;
	line-height: 1;
	text-transform: lowercase;
	background: none;
	inline-size: inherit;
}

.header__theme-menu-button_active {
	border: 1px solid var(--color);
	cursor: default;
}

.header__title {
	color: var(--color-h1);
	font-weight: bold;
	/*media on desktop*/
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	line-height: 0.825;
	text-shadow: 4px 4px 0 var(--color-accent);
}

.header__description {
	padding-block: 3px;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.5px;
	word-spacing: 3.5px;
}

/*Main-text*/
.main {
	/*media on desktop*/
	padding-block: 40px;
}
.section-text {
	display: grid;
	gap: 20px;
}
.section-text__title {
	font-weight: bold;
	font-size: 18px;
	line-height: 1.35;
	word-spacing: 10px;
}
.section-text__content {
	display: flex;
	flex-flow: column wrap;
	gap: 10px;
}
.section-text__heading {
	font-weight: bold;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.5px;
}
.section-text__paragraph {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.5px;
	word-spacing: 7px;
}
